@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1f80df;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    z-index: 1;
    background-color: #1f80df;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.navbar-brand,
.nav-link {
    text-shadow: rgba(75, 70, 70, 0.1);
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 27px;
}

.parallax {
    margin-top: 89px;
    padding: 220px 35px;
    background: transparent;
}

.parallax2 {
    margin-top: 90px;
    padding: 220px 35px;
    background: transparent;
}

.info {
    font-family: "Montserrat", sans-serif;
    z-index: 2;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Content */
.content {
    margin-top: 90px;
}

.content h3 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 37px;
    margin-top: 5px;
    color: #fff;
}

.content h3 span {
    color: #141b41;
    text-align: center;
    font-weight: 900;
}

.content p {
    font-family: "Source Sans Pro";
    margin-top: 35px;
    letter-spacing: 1.5px;
    color: #fff;
    font-size: 18px;
}

#about1 {
    max-width: 450px;
    height: 330px;
}

#about2 {
    max-width: 450px;
}

.tokoh1 {
    font-family: "Montserrat", sans-serif;
    margin-top: 50px;
    border-bottom: 3px solid #fbb628;
    width: 65%;
    font-size: 32px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.foto1 {
    max-width: 200px;
    margin-top: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.foto2 {
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.penjelasan {
    margin-top: 10px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 30;
    color: #fff;
    letter-spacing: 1px;
}

.ktr {
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid #fbb628;
    padding-bottom: 3px;
    width: 20%;
    color: #fff;
    letter-spacing: 1px;
}

/* Footer */
.container {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    margin-top: 120px;
    background-color: #0a2140;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fbb628;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

/* Handphone */
@media (max-width: 574px) {
    #about1 {
        max-width: 190px;
    }

    #about2 {
        max-width: 200px;
        height: 325px;
    }
    

    .content p {
        font-family: "Source Sans Pro";
        margin-top: 35px;
        margin-bottom: 40px;
        letter-spacing: 1.5px;
        color: #fff;
        font-size: 15px;
    }

    .foto1 {
        margin-top: 110px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 190px;
    }

    .tokoh1 {
        font-family: "Montserrat", sans-serif;
        margin-top: 50px;
        border-bottom: 3px solid #fbb628;
        width: 95%;
        font-size: 29px;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .penjelasan {
        margin-top: 40px;
        font-family: "Source Sans Pro";
        font-size: 18px;
        font-weight: 30;
        color: #fff;
        letter-spacing: 1px;
    }

    .info {
        font-size: 52px;
    }

    .footer-col {
        width: 100%;
    }
}

/* DESKTOP VERSION */
@media (min-width: 992px) {

    .nav-link:hover,
    .active {
        background: #0b63dc;
        color: #fff;
    }

    .content h3 {
        font-size: 40px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 37px;
        margin-top: 5px;
        color: #fff;
    }

    .content p {
        font-family: "Source Sans Pro";
        margin: 1px 0;
        color: #fff;
    }
}